.responsive {
  max-height: 400px;
  width: 100%;
}

#main {
  margin: 5% 2%;
}

#content {
  text-align: justify;
  font-size: 14px;
  -webkit-text-fill-color: burlywood;
}

#title {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

#title:hover {
  color: powderblue;
  padding: 10px;
  border: 1px solid powderblue;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  margin: 20% 43%;
  border-top: 5px solid #3498db;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .loader {
    margin: 56% 38%;
  }
}
